##### Clock #####
NET  sys_clk_p_i LOC = K15;
NET  sys_clk_p_i IOSTANDARD = LVDS_25;

NET  sys_clk_n_i LOC = K16;
NET  sys_clk_n_i IOSTANDARD = LVDS_25;

NET "sys_clk_p_i" TNM_NET = sys_clk_p_i;
TIMESPEC TS_sys_clk_p_i = PERIOD "sys_clk_p_i" 200 MHz HIGH 50% INPUT_JITTER 50 ps;

#########

NET rst_i LOC= N4  | IOSTANDARD = LVCMOS18;
NET rst_i TIG;


NET on_sw_i LOC=V13 | IOSTANDARD = LVCMOS25;
NET on_led_o LOC=A4 | IOSTANDARD = LVCMOS25;


#### SPI - 1 ####
NET spi1_sck_o LOC=D9 | IOSTANDARD = LVCMOS25; # J1-01
NET spi1_sck_i LOC=C9 | IOSTANDARD = LVCMOS25; # J1-03

NET spi1_mosi_o LOC=F10 | IOSTANDARD = LVCMOS25; # J1-39
NET spi1_mosi_i LOC=P7 | IOSTANDARD = LVCMOS25; # J1-40

NET spi1_miso_o LOC=D11 | IOSTANDARD = LVCMOS25; # J1-05
NET spi1_miso_i LOC=C11 | IOSTANDARD = LVCMOS25; # J1-07

NET spi1_ssel_o LOC=B12 | IOSTANDARD = LVCMOS25; # J1-06
NET spi1_ssel_i LOC=A12 | IOSTANDARD = LVCMOS25; # J1-08

#### SPI - 2 ####
NET spi2_sck_o LOC=R8 | IOSTANDARD = LVCMOS25; # J1-30
NET spi2_sck_i LOC=T8 | IOSTANDARD = LVCMOS25; # J1-32

NET spi2_mosi_o LOC=G11 | IOSTANDARD = LVCMOS25; # J1-37
NET spi2_mosi_i LOC=N6 | IOSTANDARD = LVCMOS25; # J1-38

NET spi2_miso_o LOC=C15 | IOSTANDARD = LVCMOS25; # J1-09
NET spi2_miso_i LOC=A15 | IOSTANDARD = LVCMOS25; # J1-11

NET spi2_ssel_o LOC=D6 | IOSTANDARD = LVCMOS25; # J1-10
NET spi2_ssel_i LOC=C6 | IOSTANDARD = LVCMOS25; # J1-12

#### SPI - 3 ####
NET spi3_sck_o LOC=R10 | IOSTANDARD = LVCMOS25; # J1-34
NET spi3_sck_i LOC=T10 | IOSTANDARD = LVCMOS25; # J1-36

NET spi3_mosi_o LOC=C12 | IOSTANDARD = LVCMOS25; # J1-27
NET spi3_mosi_i LOC=A7 | IOSTANDARD = LVCMOS25; # J1-28

NET spi3_miso_o LOC=C13 | IOSTANDARD = LVCMOS25; # J1-13
NET spi3_miso_i LOC=A13 | IOSTANDARD = LVCMOS25; # J1-15

NET spi3_ssel_o LOC=B11 | IOSTANDARD = LVCMOS25; # J1-14
NET spi3_ssel_i LOC=A11 | IOSTANDARD = LVCMOS25; # J1-16